.bg-container {
  background-color: #93c5fd;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-card-container {
  background-color: white;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 40px;
}
.input-search {
  border-width: 1px;
  height: 30px;
  width: 300px;
  font-family: 'Roboto';
}
.input-search-container {
  display: flex;
  flex-direction: row;
}
.label-description {
  font-family: 'Roboto';
  margin-left: 10px;
  font-size: 20px;
}
.country-name {
  color: #1e293b;
}